NET "matrix[0]" LOC = P57;
NET "matrix[0]" IOSTANDARD = LVTTL;
NET "matrix[1]" LOC = P66;
NET "matrix[1]" IOSTANDARD = LVTTL;
NET "matrix[2]" LOC = P74;
NET "matrix[2]" IOSTANDARD = LVTTL;
NET "matrix[3]" LOC = P78;
NET "matrix[3]" IOSTANDARD = LVTTL;
NET "matrix[4]" LOC = P80;
NET "matrix[4]" IOSTANDARD = LVTTL;
NET "matrix[5]" LOC = P82;
NET "matrix[5]" IOSTANDARD = LVTTL;
NET "matrix[6]" LOC = P84;
NET "matrix[6]" IOSTANDARD = LVTTL;
NET "matrix[7]" LOC = P87;
NET "matrix[7]" IOSTANDARD = LVTTL;
