NET "matrix[0]" LOC = P57;
NET "matrix[0]" IOSTANDARD = LVTTL;
NET "matrix[1]" LOC = P74;
NET "matrix[1]" IOSTANDARD = LVTTL;
NET "matrix[2]" LOC = P80;
NET "matrix[2]" IOSTANDARD = LVTTL;
NET "matrix[3]" LOC = P84;
NET "matrix[3]" IOSTANDARD = LVTTL;
NET "matrix[4]" LOC = P92;
NET "matrix[4]" IOSTANDARD = LVTTL;
NET "matrix[5]" LOC = P97;
NET "matrix[5]" IOSTANDARD = LVTTL;
NET "matrix[6]" LOC = P101;
NET "matrix[6]" IOSTANDARD = LVTTL;
NET "matrix[7]" LOC = P111;
NET "matrix[7]" IOSTANDARD = LVTTL;
NET "direction[0]" LOC = P140;
NET "direction[0]" IOSTANDARD = LVTTL;
NET "direction[0]" PULLUP;
NET "direction[1]" LOC = P134;
NET "direction[1]" IOSTANDARD = LVTTL;
NET "direction[1]" PULLUP;
NET "direction[2]" LOC = P127;
NET "direction[2]" IOSTANDARD = LVTTL;
NET "direction[2]" PULLUP;
NET "direction[3]" LOC = P144;
NET "direction[3]" IOSTANDARD = LVTTL;
NET "direction[3]" PULLUP;
NET "showwin[0]" LOC = P139;
NET "showwin[0]" IOSTANDARD = LVTTL;
NET "showwin[0]" PULLUP;
NET "myreset<0>" LOC = P134 | IOSTANDARD = LVTTL | PULLUP;
NET "myreset[0]" IOSTANDARD = LVTTL;
NET "myreset[0]" PULLUP;
