NET "matrix<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "matrix<1>" LOC = P74 | IOSTANDARD = LVTTL;
NET "matrix<2>" LOC = P80 | IOSTANDARD = LVTTL;
NET "matrix<3>" LOC = P84 | IOSTANDARD = LVTTL;
NET "matrix<4>" LOC = P92 | IOSTANDARD = LVTTL;
NET "matrix<5>" LOC = P97 | IOSTANDARD = LVTTL;
NET "matrix<6>" LOC = P101 | IOSTANDARD = LVTTL;
NET "matrix<7>" LOC = P111 | IOSTANDARD = LVTTL;